<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <ion-card class="interactive-card">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="12" size-md="7">
            <div class="form-section">
              <ion-card-title>BIENVENIDO</ion-card-title>
              <ion-list lines="none">
                <ion-item class="custom-input">
                  <ion-input label="Email" labelPlacement="stacked" type="email" placeholder="ejemplo@correo.com"></ion-input>
                </ion-item>
                <ion-item class="custom-input">
                  <ion-input label="Password" labelPlacement="stacked" type="password" placeholder="********"></ion-input>
                </ion-item>
              </ion-list>
              <ion-button expand="block" class="login-button">
                Iniciar Sesión
              </ion-button>

              <div class="ion-text-center">
                <ion-note>
                  ¿No tienes cuenta?
                  <b [routerLink]="['/register']" class="link-register">Regístrate aquí</b>
                </ion-note>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-md="5" class="ion-text-center">
            <div class="logo-section">
              <ion-icon class="img-login-large" name="person-sharp"></ion-icon>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
