<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <ion-card class="interactive-card">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="12" size-md="7">
            <div class="form-section">
              <ion-card-title>CREAR CUENTA</ion-card-title>
              <div class="inputs-wrapper">

                <div class="custom-input">
                  <label class="input-label">Nombre de usuario</label>
                  <ion-input type="text" placeholder="juanperez99"
                             class="styled-input" [(ngModel)]="nombreUsuario">
                  </ion-input>
                </div>

                <div class="custom-input">
                  <label class="input-label">Nombre Completo</label>
                  <ion-input type="text" placeholder="Juan Pérez"
                             class="styled-input" [(ngModel)]="nombreReal">
                  </ion-input>
                </div>

                <div class="custom-input">
                  <label class="input-label">Contraseña</label>
                  <ion-input type="password" placeholder="********"
                             class="styled-input" [(ngModel)]="contrasenaHash">
                  </ion-input>
                </div>

                <div class="custom-input">
                  <label class="input-label">Confirmar Contraseña</label>
                  <ion-input type="password" placeholder="********"
                             class="styled-input" [(ngModel)]="confirmarPass">
                  </ion-input>
                </div>

              </div>

              <p *ngIf="mensajeError" style="color:red; text-align:center; margin-top:8px;">
                {{ mensajeError }}
              </p>
              <p *ngIf="mensajeExito" style="color:green; text-align:center; margin-top:8px;">
                {{ mensajeExito }}
              </p>

              <ion-button expand="block" class="register-button" (click)="onRegister()">
                Registrarse
              </ion-button>

              <div class="ion-text-center">
                <ion-note>¿Ya tienes cuenta?
                  <b [routerLink]="['/login']">Inicia sesión aquí</b>
                </ion-note>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-md="5" class="ion-text-center">
            <div class="logo-section">
              <ion-icon class="img-register-large" name="person-add-sharp"></ion-icon>
            </div>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
