<ion-content [fullscreen]="true">
  <div class="login-wrapper">
    <ion-card class="interactive-card">
      <ion-grid>
        <ion-row class="ion-align-items-center">

          <ion-col size="12" size-md="7">
            <div class="form-section">
              <ion-card-title>CREAR CUENTA</ion-card-title>
              <ion-list lines="none">
                <ion-item class="custom-input">
                  <ion-input label="Nombre Completo" labelPlacement="stacked" type="text" placeholder="Juan Pérez"></ion-input>
                </ion-item>

                <ion-item class="custom-input">
                  <ion-input label="Email" labelPlacement="stacked" type="email" placeholder="ejemplo@correo.com"></ion-input>
                </ion-item>

                <ion-item class="custom-input">
                  <ion-input label="Contraseña" labelPlacement="stacked" type="password" placeholder="********"></ion-input>
                </ion-item>

                <ion-item class="custom-input">
                  <ion-input label="Confirmar Contraseña" labelPlacement="stacked" type="password" placeholder="********"></ion-input>
                </ion-item>

                <ion-item class="custom-input">
                  <ion-label>Rol</ion-label>
                  <ion-select placeholder="Selecciona uno">
                    <ion-select-option value="1">Administrador</ion-select-option>
                    <ion-select-option value="2">Alumno</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>

              <ion-button expand="block" class="register-button">
                Registrarse
              </ion-button>

              <div class="ion-text-center">
                <ion-note>¿Ya tienes cuenta? <b [routerLink]="['/login']">Inicia sesión aquí</b></ion-note>
              </div>
            </div>
          </ion-col>

          <ion-col size="12" size-md="5" class="ion-text-center">
            <div class="logo-section">
              <ion-icon class="img-register-large" name="person-add-sharp"></ion-icon>
            </div>
          </ion-col>

          </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
